.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color:#042f4b;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: red;
}

p {
  font-size: 2rem;
  color:red;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
.bottom { 
  padding-top: 30px; 
} 

.btn { 
  background: #e01010; 
  font-family: "Indie Flower", cursive; 
  border-radius: 7px; 
  color: rgb(243, 242, 242); 
  font-size: 30px; 
  padding: 16px 25px 16px 25px; 
  text-decoration: none; 
} 

.btn:hover { 
  background: #232931; 
  text-decoration: none; 
} 
